/* Nav */
#boton-busqueda {
    color: #48e;
    border-color:#48e;
}
#boton-busqueda:hover {
    color: #fff;
    background-color:#48e;
}
/*Formulario de Login*/
.form-login {
    font-family: Arial;
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 150px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #48e;
    color: #fff;
}
.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.controls {
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    color: rgb(238, 228, 228);
}
.buttons {
    width: 100%;
    height: 40px;
    background: #48e;
    border: none;
    color: #fff;
    margin-bottom: 16px;
}
.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.form-login a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.form-login a:hover {
    text-decoration: underline;
}

/*Estilo de los estados de aprobacion del login*/
.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #4e8;
    color: #fff;
}
.bad {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff;
}

/* Formulario subir archivos*/
.form-subir {
    font-family: Arial;
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 150px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #48e;
    color: #fff;
}
.form-subir h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid;
    font-size: 20px;
    margin-bottom: 15px;
}
.agregar_archivo-div {
    margin-top: 15px;
    justify-content: left; 
}
input#archivo-ingresado {
    display: none;
}
input#archivo-ingresado + label {
    background-color: #48e;
    padding: 8px;
    color: #fff;
    border: 1px solid #9ec3ff;
    border-radius: 8px;
    padding-right: 5px;
}
input#archivo-ingresado + label:hover {
    background-color: #3b7ce3;
    border-color: #729fe7;
    cursor: pointer;
}
#nombre-archivo-agregado {
    margin-left: 0.1em;
}
#desc {
    margin-bottom: 8px;
    width: 335px;
    height: 100px;
    background: #252323;
    color: #fff;
}
.desc_container {
    margin-top: 1.5em;
    text-align: center;
}
.texto-subir-desc {
    margin-bottom:0.2em;
    font-size: 18px;
}
#submit {
    background-color: #48e;
    padding: 8px;
    color: #fff;
    border: 1px solid #9ec3ff;
    border-radius: 8px;
}
.submit-div {
    text-align: center;
}
.form-subir p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.form-subir a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.form-subir a:hover {
    text-decoration: underline;
}

/* Estilo del Footer */
.copy {
    position: absolute;
    bottom: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.35);
    font-size: 11px;
    width: 100%;
    height: 40px;
    text-align: center;
}
